APP_IMAGE=ghcr.io/owner/repo:latest
NODE_ENV=production
PORT=3000
APP_PORT=3000

# Redis nằm ở service redis trong network zhizhu_net
REDIS_HOST=zhizhu-redis
REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis_password

# Ví dụ DB online / Supabase
DATABASE_URL=postgresql://user:password@host:5432/database
